{% extends 'base.html' %} 
{% block title %}About{% endblock title %} 
{% block body %}
<br />
<section>
  <div class="container-lg">
    <h1 style="text-align: center">About</h1>
    <br />
    <br />
    <h3 style="text-align: center">
    </h3>
    <br />
    <h3 style="text-align: center">
    </h3>
    <br />
    <h3 style="text-align: center">
    </h3>
    <br />
    <br />
    <h5 style="text-align: center">&nbsp; &nbsp; Lakshay Gupta</h5>
    <h5 style="text-align: center">&nbsp; &nbsp; lakshaygupta1609@gmail.com</h5>
  </div>
</section>
{% endblock body%}
